name: CI

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - name: Checkout Project
      uses: actions/checkout@v2

        #- name: Switch to Xcode 12
        #  run: sudo xcode-select -s /Applications/Xcode_12.app

    - name: Show Build Version
      run: xcodebuild -version

    # - name: Show Build Settings
    #   run: xcodebuild -scheme SwiftViz -showBuildSettings

    # - name: Show Build SDK
    #   run: xcodebuild -scheme SwiftViz -showsdks
    # xcodebuild

    - name: build and test
      run: swift test --enable-code-coverage -v

        #- name: check against API breaking changes
        #  run: swift package diagnose-api-breaking-changes 0.5.0

    - name: env review
      run: env

    - name: Prepare Code Coverage
      run: xcrun llvm-cov export -format="lcov" .build/debug/SwiftVizScalePackageTests.xctest/Contents/MacOS/SwiftVizScalePackageTests -instr-profile .build/debug/codecov/default.profdata > info.lcov

    - name: Upload to CodeCov.io
      run: bash <(curl https://codecov.io/bash)
      env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

